################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/Power Monitoring/v16/Server/sqlite3/storage.ide-wal
/.vs/Power Monitoring/v16/Server/sqlite3/storage.ide-shm
/.vs/Power Monitoring/v16/Server/sqlite3/storage.ide
/.vs/Power Monitoring/v16/Server/sqlite3/db.lock
/.vs/Power Monitoring/DesignTimeBuild
/.vs/Power Monitoring/v16
