@model Power_Monitoring.ViewModels.BandYearModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script>
        var dataSet = [];
        var bandModels = @Json.Serialize(Model.BandModels);
        bandModels.forEach(function (bandModel, index1, array2) {
                dataSet.push(
                    {
                        "label": bandModel.name,
                        "fillColor": "rgba(220,220,220,0.5)",
                        "highlightFill": "rgba(220,220,220,0.75)",
                        "highlightStroke": "rgba(220,220,220,1)",
                        "strokeColor": "rgba(220,220,220,0.8)",
                        "data": bandModel.years
                    });
            console.log (bandModel.name); 
        });

            var barChartData =
            {
                "labels": @Json.Serialize(Model.Years),

                "datasets": dataSet
            };

            window.onload = function () {
                var ctx1 = document.getElementById("barcanvas").getContext("2d");
                window.myBar = new Chart(ctx1,
                    {
                        type: 'bar',
                        data: barChartData,
                        options:
                            {
                                title:
                                {
                                    display: true,
                                    text: "ProductWise Sales Count"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });
            }
    </script>
</head>
<body>
    <div style="text-align: center">
        <canvas id="barcanvas"></canvas>
    </div>
    <div style="text-align: center">
        Disclaimer:- This data is for demo it is
        not real data it wont relate to any company
    </div>
</body>
</html>  